/* Key frames for title of the page for more dynamic result */
@keyframes titleAnimation {
  0%   {font-size:  48px}
  50%  {font-size:  64px}
  100% {font-size:  48px}
}
/* global presenting setting for page */
*{
  font-size: 24px;
}
/* used for setting up the page main layout as grid layout and background setting */
body{
background-image: url(./Resources/Background.jpg);
background-position:center center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover;
display: grid;
grid-template-rows: 150px 500px;
}

/* title of the page defult setting with text font and position peroperties assigning and animation setup */

#title{
  font-size:  48px;
  text-align: center;
  -webkit-text-stroke: 0.3px black;
  color: yellow;
  animation-name: titleAnimation;
  animation-duration: 2s;  /* let the main site loades before animation starts*/
  animation-delay: 1.5s;
}

/* centeral box setting */

#box{
  margin: auto; /* so it be in the middle of the page */
  padding: 10px 10px 10px 20px; /* more space from left site for better presenting of dotted text */
  border-style:double;
  border-width: 3px;
  height: 490px;
  display: flex; /* after the table there is a result
  elemnt as div and needs to be in horizontal sequence*/
  background-color: rgba(255, 255, 255, 0.5); /* for backdound alpha */
  border-radius: 10px;
}

/* reults title setup */

dt{
  font-size: 24px;
  font-style: oblique;
  font-weight: bold;
}

/* special font for responce data */
@font-face {
    font-family: "resultFont";
    src: url("./Resources/ahellya.ttf");
}

/* Results text look like */
dd{
  padding: 0px 0px 0px 0px;
  margin-left: 15px; /*decriesing the amount of defult left margin of dd*/
  font-size: 22px;
  font-family: resultFont;
  color: darkblue;
  -webkit-text-stroke: 0.2px black;
}

/* table elememts setup */
table{
  margin: 0 40px 0px 10px;
}



/* managing layout of result section for better view */
#result{
border-left: 2px solid black;
}

#result>*{
    margin: 0px 20px 0px 40px;
    text-align: center;
    width: 800px;
}
/* handling responce view */
.responce{
  background-color: rgba(255, 200, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

}

/* selection elements of the page setup */
::selection {
  color: red;
  background: #FF5E99;
  font-size: 2em;
}
